@import './layout.scss';
@mixin btn($fontSize:24px,$color:#fff,$bgColor:#F04752,$height:56px,$radius:4px){
    font-size: $fontSize;
    color: $color;
    background-color:$bgColor;
    height: $height;
    line-height: $height;
    border-radius:$radius;
    text-align: center;
}

@mixin list($direction:column){
    @include flex($direction);
}

@mixin panel($fontSize:32px,$fontWeight:700,$color:#333,$bgColor:#fff,$height:112px,$padding:0 0 0 32px,$txtPadding:0,$margin:17px 0 8px){
    font-size: $fontSize;
    color: $color;
    background-color:$bgColor;
    height: auto;
    >h4{
        font-size: $fontSize;
        font-weight: $fontWeight;
        color: $color;
        height:$height;
        line-height: $height;
        padding:$txtPadding;
        margin: $margin;
        text-align:center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }   
}